@@ -0,0 +1,80 @@
{% extends 'base.html' %}

{% block body %}


<body>
  <p>Question {{count}} of 10</p>


  <div class="w3-container w3-center">
    <p> The Pokémon can have the ability {{ability}} and is in the egg group {{egggroup}}. Its highest stat is {{highest_stat}} and {{evo_method}}. </p>
    <br>
  </div>

<p id="myText"></p>

  <script>
    function myFunction(e, value) {

    document.getElementById("next_button").disabled = false;

    e.currentTarget.setAttribute("class", "w3-card-4 w3-red");

valuePicked = value;

for (var i = 1; i < 5; i++) {
  var bvalue = document.getElementById("b_" + i).getAttribute('value');

  if (Math.abs(parseFloat(bvalue) - parseFloat("{{answer}}")) < 0.01) {
    document.getElementById("b_" + i).setAttribute("class", "w3-card-4 w3-green");
  }
  document.getElementById("b_" + i).setAttribute("onclick", "");
}
}

    function nextFunction() {
        document.getElementById('next_button').value = valuePicked;
      }
  </script>

<div class="w3-quarter">
  <div class="w3-card-4 w3-light-blue w3-hover-light-grey" id="b_1" onclick="myFunction(event, 1)" type="submit" name="answer" value="1">
    <img  src={{sprite1}}  alt="Pokemon 1" style="width:80%">
    <div>
      <p>{{pokemon1}}</p>
    </div>
  </div>
</div>
<div class="w3-quarter">
  <div class="w3-card-4 w3-light-blue w3-hover-light-grey" id="b_2" onclick="myFunction(event, 2)" type="submit" name="answer" value="2">
    <img  src={{sprite2}}  alt="Pokemon 2" style="width:80%">
    <div>
      <p>{{pokemon2}}</p>
    </div>
  </div>
</div>
<div class="w3-quarter">
  <div class="w3-card-4 w3-light-blue w3-hover-light-grey" id="b_3" onclick="myFunction(event, 3)" type="submit" name="answer" value="3">
    <img  src={{sprite3}}  alt="Pokemon 3" style="width:80%">
    <div>
      <p>{{pokemon3}}</p>
    </div>
  </div>
</div>
<div class="w3-quarter">
  <div class="w3-card-4 w3-light-blue w3-hover-light-grey" id="b_4" onclick="myFunction(event, 4)" type="submit" name="answer" value="4">
    <img  src={{sprite4}}  alt="Pokemon 4" style="width:80%">
    <div>
      <p>{{pokemon4}}</p>
    </div>
  </div>
</div>

    <div class="w3-bar">
    <form action="/get_answer" method="post">
      <button  class="w3-button w3-light-blue" onclick="nextFunction()" id="next_button" type="submit" name="answer" value=""disabled>Next</button>
    </form>
    </div>
</body>

{% endblock %}