@@ -0,0 +1,28 @@

{% extends 'base.html' %}

{% block body %}

<div class="w3-container w3-center">

    <h1>Multiplier Quiz</h1>
    <p> The goal of this quiz is to guess the correct Pokémon based on the information you are given. </p>
  
    <h2> Rules </h2>
    <p> You will be given some attributes describing a Pokémon. Guess which Pokémon is being described.</p>
  
    <div>
       <button class="w3-button w3-light-blue" id="b_1" style="height:80px;width:150px" onclick="window.location.href='{{ url_for('hints_quiz') }}'">Start Quiz</button>
    </div>
    <br>
  
  </div>

  {% endblock %}