{% extends 'base.html' %}

{% block body %}

<!-- to be filled by the Python script -->
<h1>{{ the_title }}</h1>

<!-- note how items from the "static" folder are linked -->

<p>Welcome to the pokemon quiz!</p>

<ul>
  <!-- note how items from routes in the the Python script are linked -->

  <!-- buttons for the other sites -->

  <button onclick="window.location.href='{{ url_for('multi_start') }}'" class="image-button">
    <img  src="https://cdn.discordapp.com/attachments/1104761878573494392/1116714153919389716/multiplier_quiz_icon.png" alt="Image">
    <span>Multiplier Quiz</span>
  </button>

  <br>
  <button onclick="window.location.href='{{ url_for('stat_start') }}'" class="image-button">
    <img  src="https://media.discordapp.net/attachments/888321585684041748/1117517963432575148/stat_quiz_icon.png?width=750&height=500" alt="Image">
    <span>Higher Stat Quiz</span>
  </button>

  <br>
  <button onclick="window.location.href='{{ url_for('hints_start') }}'" class="image-button">
    <img  src="https://media.discordapp.net/attachments/888321585684041748/1117564620257894500/hints_quiz_icon.png?width=750&height=500" alt="Image">
    <span>Hints Quiz</span>
  </button>

</ul>

<footer class="w3-container w3-padding-16">
  <p>Data scraped from <a href="https://dex.pokemonshowdown.com/">https://dex.pokemonshowdown.com/</a></p>
  <div style="position:relative;bottom:55px;" class="w3-tooltip w3-right">   
  </div>
  </footer>



{% endblock %}
