{% extends "layout.html" %}
{% block content %}
    <h1>Type Checker using SQL</h1>
	
	<p>Dette bliver snart en pokemon quiz database.</p>

	<label for="DefType">Choose a defending type:</label>
	
	<select name="DefType" id="DefType">
		<option value="fire">fire</option>
		<option value="grass">grass</option>
		<option value="steel">steel</option>
		<option value="dragon">dragon</option>
	</select>

	<label for="AtkType">Choose an attacking type:</label>
	
	<select name="AtkType" id="AtkType">
		<option value="water">water</option>
		<option value="blue">blue</option>
		<option value="dragon">dragon</option>
		<option value="normal">normal</option>
	</select>

	<button type="button", onclick="myFunction()">Click Me to see the result!</button>

	<style>
		.button {
			border: none;
			color: white;
			padding: 16px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			transition-duration: 0.4s;
			cursor: pointer;
		}
	
		.button1 {
			background-color: white;
			color: black;
			border: 2px solid #4CAF50;
		}
	
		.button1:hover {
			background-color: #4CAF50;
			color: white;
		}
	
		.button2 {
			background-color: white;
			color: black;
			border: 2px solid #008CBA;
		}
	
		.button2:hover {
			background-color: #008CBA;
			color: white;
		}
	</style>

	<button class="button button1", onclick="myFunction()">Green</button>
	<button class="button button2">Blue</button>

	<script>
		function myFunction() {
			var x = document.getElementById("DefType").value;
			document.getElementById("demo").innerHTML = x;
			// call sql from here

		}
	</script>

	<button type="button" onclick="executeQuery()">Click Me to see the result!</button>

	<script>
		function executeQuery() {
			var defendingType = document.getElementById("DefType").value;
			var attackingType = document.getElementById("AtkType").value;

			// Send an AJAX request to the server-side script
			var xhr = new XMLHttpRequest();
			xhr.open('GET', '/execute-query?defendingType=' + defendingType + '&attackingType=' + attackingType, true);
			xhr.onreadystatechange = function () {
				if (xhr.readyState === 4 && xhr.status === 200) {
					// Handle the response from the server
					var response = JSON.parse(xhr.responseText);
					document.getElementById("demo").innerHTML = JSON.stringify(response);
				}
			};
			xhr.send();
		}
	</script>


	<p id="demo">Result</p>

{% endblock content %}

